@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


@font-face {
    font-family: 'Satisfy';
    src: url('../fonte/Satisfy-Regular.ttf') format('opentype');
    
}

:root{
    --cor1: #E8100C;
    --cor2: #F20C70;
    --cor3: #DB00CC;
    --cor4: #BC0CF2;
    --cor5: #780CE8;

    
    --font1: 'Satisfy', cursive;
    --font2:'Sriracha', cursive;
}
/*fonte 1 e a normal font2 e a destaque e fonte 3 e para texto*/
*{
    padding: 0px;
    margin: 0px;
    color: black;
}


header{
    background-image:linear-gradient( #BC0CF2,#bc0cf28e , #BC0CF2);
    font-family: var(--font2);
    text-align: center;
    padding: 10px;
}

h2{
    padding: 2px;
    height: 30px;
    width: 600px;
    background-position: center;
    transform: translate(55%, 50%);
    border-radius: 12px;
    text-align: center;
    font-family: var(--font1);
}
h2:hover{
    background-color: white ;
}


#q1 > p {
    font-family: var(--font1);
    padding: 10px;
    max-width: 450px;
    max-height: 700px;
    text-align: justify;
    text-decoration: none;
    background-color: #db00cc62;
    background-position: center;
    
 

}
section#q1{
    background-image: url('../site-keila/fotos/keila-branca.jpeg');
    background-position: trans;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    background-image: 400px; 

}

#q3{
    font-family: var(--font1);
    padding: 10px;
    border-left: 50px;

}
section#q4{
    background-image: url('../site-keila/fotos/amanda-olhos.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 400px;
    
}

    
    
