@charset "UTF-8";

@font-face {
    font-family: 'Satisfy';
    src: url('../fonte/Satisfy-Regular.ttf') format('opentype');
}

:root{
    --cor1: ;
    --cor2: ;
    --cor3: ;
    --cor4: ;
    --cor5: ;

    --font-padrao:Arial, verdana, helvetica, sans-serif;
    --font-destaque: 'Satisfy', cursive;
}

h1{
    font-family: var(--font-destaque);
}